body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: linear-gradient(to right, #ff00ff, #00ff00, #ff0080, #ff0080);
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 10px #00ff00, 0 0 10px #ff00ff, 0 0 10px #0000ff, 0 0 10px #ff0080;
  animation: gradient-text 2s infinite linear;
}

@keyframes gradient-text {
  0% {
    text-shadow: 0 0 10px #00ff00, 0 0 10px #ff00ff, 0 0 10px #0000ff, 0 0 10px #ff0080;
  }
  25% {
    text-shadow: 0 0 10px #ff00ff, 0 0 10px #0000ff, 0 0 10px #ff0080, 0 0 10px #00ff00;
  }
  50% {
    text-shadow: 0 0 10px #0000ff, 0 0 10px #ff0080, 0 0 10px #00ff00, 0 0 10px #ff00ff;
  }
  75% {
    text-shadow: 0 0 10px #ff0080, 0 0 10px #00ff00, 0 0 10px #ff00ff, 0 0 10px #0000ff;
  }
  100% {
    text-shadow: 0 0 10px #00ff00, 0 0 10px #ff00ff, 0 0 10px #0000ff, 0 0 10px #ff0080;
  }
}
